services:
  app:
    build: 
      context: .
      dockerfile: docker/Dockerfile  # Points to the file inside the folder
    container_name: task_app
    volumes:
      - ./:/var/www/html
    depends_on:
      - db

  web:
    image: nginx:stable-alpine
    container_name: task_web
    ports:
      - "8080:80"
    volumes:
      - .:/var/www/html
      - ./docker/nginx.conf:/etc/nginx/conf.d/default.conf 
    depends_on:
      - app

  db:
    image: mysql:8.0
    ports:
      - "3306:3306"
    container_name: task_db
    environment:
      MYSQL_DATABASE: task_db
      MYSQL_ROOT_PASSWORD: root
    volumes:
      - db_data:/var/lib/mysql

volumes:
  db_data: